.listCiteis {
  width: 370px;
  max-height: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: rgba(134, 134, 134, 0.7);
  list-style: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.listCiteis.show {
  opacity: 1;
  max-height: 250px;
}

.listCiteis li {
  cursor: pointer;
  padding: 0.7em 1em;
}

.listCiteis li:hover {
  background-color: rgb(249, 251, 231, 0.5);
}

.listCiteis::-webkit-scrollbar {
  width: 3px;
}

.listCiteis::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .listCiteis {
    width: 250px;
  }
}
